.container {
    padding: 20px;
}

.profile {
    width: 56px;
    height: 56px;
    border-radius: 100%;
    background-color: #BDBDBD;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-weight: bold;
    color: white;
}

.font {
    font-weight: bold;
    margin-bottom: 0px;
}

.font:hover {
    cursor: pointer;
    color: #D8D8D8;
}